---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose {
				color: rgb(var(--heading-color));
			}
			.title {
				margin-bottom: 1em;
				text-align: left;
			}
			.date {
				margin-bottom: 1em;
				color: rgb(var(--gray));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
    		<text>:/</text>
			<!-- <article>
				<div class="prose">
					<div class="title">
					    <h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} verbose={true}/>
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article> -->
		</main>
		<Footer />
	</body>
</html>
